<a href="https://colab.research.google.com/github/aasif95/NAVTTC/blob/main/Finding_No_Divisible_by_7_%26_Multiple_of_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
for i in range(1500,2701):

    if (i%7==0) and (i%5==0):

        print("  ",i)

   1505
   1540
   1575
   1610
   1645
   1680
   1715
   1750
   1785
   1820
   1855
   1890
   1925
   1960
   1995
   2030
   2065
   2100
   2135
   2170
   2205
   2240
   2275
   2310
   2345
   2380
   2415
   2450
   2485
   2520
   2555
   2590
   2625
   2660
   2695